fastapi
uvicorn
sqlalchemy
psycopg2-binary
google-genai
google-api-python-client
google-auth
redis
python-dotenv
PyJWT
bcrypt
httpx
twilio
prometheus_client
APScheduler
boto3
tenacity
python-multipart
faiss-cpu
numpy
pydantic
pydantic-settings
stripe
scikit-learn
pytz
pytest
neo4j
